Banka/Banka/WEB-INF/wsdl/Banka.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    targetNamespace="http://www.ftn.uns.ac.rs/Banka"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:fak="http://www.ftn.uns.ac.rs/faktura"
    xmlns:ws="http://www.ftn.uns.ac.rs/Banka"
    xmlns:mt102="http://www.ftn.uns.ac.rs/mt102"
    xmlns:mt103="http://www.ftn.uns.ac.rs/mt103"
    xmlns:mt90010="http://www.ftn.uns.ac.rs/mt90010"
    xmlns:nzp="http://www.ftn.uns.ac.rs/nalogZaPrenos"
    xmlns:presek="http://www.ftn.uns.ac.rs/presek"
    xmlns:utils="http://www.ftn.uns.ac.rs/xmlws"
    xmlns:zzi="http://www.ftn.uns.ac.rs/ZahtevZaIzvod"
    >
    
    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="Faktura.xsd" namespace="http://www.ftn.uns.ac.rs/faktura"></xsd:import>
            <xsd:import schemaLocation="mt102.xsd" namespace="http://www.ftn.uns.ac.rs/mt102"></xsd:import>
            <xsd:import schemaLocation="mt103.xsd" namespace="http://www.ftn.uns.ac.rs/mt103"></xsd:import>
            <xsd:import schemaLocation="mt900-10.xsd" namespace="http://www.ftn.uns.ac.rs/mt90010"></xsd:import>
            <xsd:import schemaLocation="NalogZaPrenos.xsd" namespace="http://www.ftn.uns.ac.rs/nalogZaPrenos"></xsd:import>
            <xsd:import schemaLocation="Presek.xsd" namespace="http://www.ftn.uns.ac.rs/presek"></xsd:import>
            <xsd:import schemaLocation="Utils.xsd" namespace="http://www.ftn.uns.ac.rs/xmlws"></xsd:import>
            <xsd:import schemaLocation="ZahtevZaIzvod.xsd" namespace="http://www.ftn.uns.ac.rs/ZahtevZaIzvod"></xsd:import>
            
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="primiNalogZaPlacanjeRequest">
        <wsdl:part name="nalogZaPrenos" element="nzp:nalog_za_prenos"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiNalogZaPlacanjeResponse">
    	<wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiZahtevZaIzvodRequest">
        <wsdl:part name="zahtevZaIzvod" element="zzi:zahtev_za_izvod"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiZahtevZaIzvodResponse">
        <wsdl:part name="response" element="presek:presek"></wsdl:part>
    </wsdl:message>
        <wsdl:message name="odradiClearingRequest">
    </wsdl:message>
    <wsdl:message name="odradiClearingResponse">
        <wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT103Request">
        <wsdl:part name="mt103" element = "mt103:MT_103"/>
    </wsdl:message>
    
    <wsdl:message name="primiMT103Response">
        <wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="primiMT910Request">
        <wsdl:part name="mt910" element = "mt90010:MT910"/>
    </wsdl:message>
    
    <wsdl:message name="primiMT910Response">
        <wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT102Request">
        <wsdl:part name="mt102" element = "mt102:mt102"/>
    </wsdl:message>
    
    <wsdl:message name="primiMT102Response">
        <wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="primiMT900Request">
        <wsdl:part name="mt900" element = "mt90010:MT900"/>
    </wsdl:message>
    
    <wsdl:message name="primiMT900Response">
        <wsdl:part name="response" element="utils:status"></wsdl:part>
    </wsdl:message>
    

    
    <wsdl:portType name="BankaPort">
        <wsdl:operation name="primiZahtevZaIzvod">
            <wsdl:input message="ws:primiZahtevZaIzvodRequest"></wsdl:input>
            <wsdl:output message="ws:primiZahtevZaIzvodResponse"></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiNalogZaPlacanje">
            <wsdl:input message="ws:primiNalogZaPlacanjeRequest"></wsdl:input>
            <wsdl:output message="ws:primiNalogZaPlacanjeResponse"></wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiMT103">
            <wsdl:input message="ws:primiMT103Request"></wsdl:input>
            <wsdl:output message="ws:primiMT103Response"></wsdl:output>  		
        </wsdl:operation>
        
        <wsdl:operation name="primiMT910">
            <wsdl:input message="ws:primiMT910Request"></wsdl:input>
            <wsdl:output message="ws:primiMT910Response"></wsdl:output>  		
        </wsdl:operation>
        
        <wsdl:operation name="primiMT102">
            <wsdl:input message="ws:primiMT102Request"></wsdl:input>
            <wsdl:output message="ws:primiMT102Response"></wsdl:output>  		
        </wsdl:operation>
        
        <wsdl:operation name="primiMT900">
            <wsdl:input message="ws:primiMT900Request"></wsdl:input>
            <wsdl:output message="ws:primiMT900Response"></wsdl:output>  		
        </wsdl:operation>
        
        <wsdl:operation name="odradiClearing">
            <wsdl:input message="ws:odradiClearingRequest"></wsdl:input>
            <wsdl:output message="ws:odradiClearingResponse"></wsdl:output>  		
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="BankaBinding" type="ws:BankaPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="primiZahtevZaIzvod">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiNalogZaPlacanje">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiMT103">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiMT910">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiMT102">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="primiMT900">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="odradiClearing">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    <wsdl:service name="BankaService">
        <wsdl:port name="BankaPort" binding="ws:BankaBinding">
            <soap:address location="http://localhost:8080/BankaPort"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>